<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Wysiwyg\DefaultConfigProvider">
        <plugin name="canon_wysiwyg_colorpicker_default_provider" type="Canon\WysiwygColorPicker\Plugin\DefaultConfigProviderPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <plugin name="canon_wysiwyg_colorpicker_config" type="Canon\WysiwygColorPicker\Plugin\WysiwygConfigPlugin" sortOrder="10"/>
    </type>
</config>
